@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply text-black;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
}
.ql-snow .ql-toolbar button svg {
  display: inline;
  width: 16px;
  height: 16px;
  fill: currentColor;
}
